.button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 15px;
  font-size: 1em;
  cursor: pointer;
}

.outerModal,
.innerModal {
  padding: 20px;
}

.modalContent {
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.modalContent2 {
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.modalFooter {
  display: flex;
  gap: 15px;
  margin-top: 15px;
}

.closeAllButton {
  background-color: #dc3545;
}
