.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.wrapper {
  position: relative;
  display: inline-block;
}

.button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.desc {
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 8px 10px;
  position: absolute;
  z-index: 1;
  top: -65px;
  left: -50px;
  width: 200px;
  opacity: 1;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.desc::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-width: 5px;
  border-style: solid;
  border-color: #333 transparent transparent transparent;
}
